@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Poppins', sans-serif; */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	font: var(-- 'Edu NSW ACT Foundation', cursive);
}
